{% extends "base.html" %} {% block content %}

<div class="home-bg">
  <div class="row home-intro">
    <h3 class="masthead">Buglight</h3>

    <p>
      A modern online bug tracking solution. For use in business or private
      roles - designed to be modern, sleek and helpful way to track bugs and
      work to their resolution.
    </p>
  </div>
</div>

<div class="about-us">
  <div class="card">
    Who We Are
  </div>
  <div class="card">
    What We do
  </div>
  <div class="card">
    How we can help
  </div>
</div>

{% endblock %}
