{% extends "base.html" %}

{% block content %}

<div class="home-bg">

	<div class="row home-intro">

		<h3 class="masthead">Hello World - This is the home page</h3>

		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam reprehenderit itaque amet voluptate
			consequuntur ratione, tempora dolore iusto eos deleniti cupiditate excepturi harum minus delectus!
			Perspiciatis sed, ipsum tempora blanditiis, ex dolore atque modi optio vitae itaque cupiditate molestiae at
			sit quibusdam, iste iusto totam cumque soluta et iure eligendi!</p>

	</div>
</div>



{% endblock %}