{% extends "base.html" %} {% block content %}

<div class="section home-bg">
	<div class="row home-intro">
		<h3 class="masthead">Buglight</h3>

		<p>
			A modern online bug tracking solution. For use in business or private
			roles - designed to be modern, sleek and helpful way to track bugs and
			work to their resolution.
		</p>
	</div>
</div>

<div class="section about-us">
	<div class="card">
		<h4>Who We Are</h4>
        <p>Modern Solutions to problems as old as bugs. Solutions for one and all</p>
	</div>
	<div class="card">
		<h4>What We do</h4>
        <p>Provide creative and simple solutions to bug tracking issues</p>
	</div>
	<div class="card">
		<h4>How we can help</h4>
        <p>You can register or contact a member of our sales team to find out</p>
	</div>
</div>

<div class="section testimonials">

    

</div>

{% endblock %}