.masthead{
    margin-top: 100px;
}

.home-bg{
    min-height: 100vh;
    min-width: 100%;
    background-image: url('../images/home-bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.2)
}

.home-intro{

}