/* Colours */
:root {
  --rich-black: #00020e;
  --oxford-blue: #030a3e;
  --royal-blue-dark: #072e65;
  --blue-yonder: #4178aa;
  --purple-pizzaz: #ff47daff;
  --white: #fefcfb;
}

/* Universals */

html{
    font-size: 62.5%;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


body{
    min-height: 200vh;
}


/* Nav */
.navbar-default{
    background: transparent;
    border: none;
}

.navbar-brand{
    color: var(--white);
    text-decoration: none;
    margin:0;
    font-size: inherit;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    text-decoration: none;
}



.nav-links{
    display: flex;
    width:30%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    padding-right: 50px;

}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #fafafa;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;

}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #fafafa;
    margin: 5px;
    transition: all 0.3s ease;

}


.navbar-fixed-top.scrolled {
  background-color: var(--royal-blue-dark) !important;
  transition: background-color 200ms linear;
}

/* Home */


.home-bg{
    background-image: url('../images/home-bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100%;
}


.home-intro{
    background-color: rgba(0,0, 0, 0.2);
    width: 40%;
    min-height: 200px;
    margin: 50px auto;
    border-radius: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-intro h3{
    text-align: center;
    color: var(--white);
    font-size: 4rem;
}

.home-intro p{
    color: var(--white);
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

.about-us{
    background-image: url('../images/keyboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 110vh;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin:50px auto;

}

.card{
    background-color: var(--white);
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column wrap;
    justify-content: center;
    align-items: center;
    margin:100px auto;
}

.card h4{
    position: relative;
    top: 0;
}

.card p{
    margin:10px;
    text-align: center;
}

.testimonials{
    position: absolute;
    top: 220vh;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

/* Style the container with a rounded border, grey background and some padding and margin */
.testimonial-container {
    
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

/* Clear floats after containers */
.testimonial-container::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.testimonial-container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Increase the font-size of a span element */
.testimonial-container span {
  font-size: 20px;
  margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .testimonial-container {
    text-align: center;
  }

  .testimonial-container img {
    margin: auto;
    float: none;
    display: block;
  }
}

/* Footer  */

footer{
    width: 100%;
    background-color: var(--white);
    height: 10vh;
    margin-top:50px;
}

/* Media Queries */

@media screen and (max-width:1068px){
    .nav-links{
        width: 50%;
    }
}
@media screen and (max-width:768px){
body{
    overflow-x: hidden;
}

    .nav-links{
        position: absolute;
        right:0px;
        top: 8vh;
        height:50vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        transform:translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: var(--royal-blue-dark);
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform:translateX(0%);
}


/* Keyframes */

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform:translateX(0px);
    }
}

.toggle .line1{
    transform:rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform:rotate(45deg) translate(-5px, -6px);
}